<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddshidai.dao.Problem_free_labelMapper" >
  <resultMap id="BaseResultMap" type="com.ddshidai.model.Problem_free_label" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="problem_free_id" property="problemFreeId" jdbcType="INTEGER" />
    <result column="label_id" property="labelId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, problem_free_id, label_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from problem_free_label
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from problem_free_label
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ddshidai.model.Problem_free_label" >
    insert into problem_free_label (id, problem_free_id, label_id, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{problemFreeId,jdbcType=INTEGER}, #{labelId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ddshidai.model.Problem_free_label" >
    insert into problem_free_label
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="problemFreeId != null" >
        problem_free_id,
      </if>
      <if test="labelId != null" >
        label_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="problemFreeId != null" >
        #{problemFreeId,jdbcType=INTEGER},
      </if>
      <if test="labelId != null" >
        #{labelId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ddshidai.model.Problem_free_label" >
    update problem_free_label
    <set >
      <if test="problemFreeId != null" >
        problem_free_id = #{problemFreeId,jdbcType=INTEGER},
      </if>
      <if test="labelId != null" >
        label_id = #{labelId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ddshidai.model.Problem_free_label" >
    update problem_free_label
    set problem_free_id = #{problemFreeId,jdbcType=INTEGER},
      label_id = #{labelId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>